:root {
    box-sizing: border-box;
    font-size: 10px;
    font-family: Iowan Old Style, Seravek, Helvetica Neue, Helvetica, Arial, sans-serif;

    --main-color: #40739e;
    --second-color: #353b48;
    
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menu {
    width: 80%;
    height: 90%;
    margin: 2rem;
    font-size: 2rem;
}

.main_menu__grid_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid var(--second-color);
}

.main_menu__grid_links h1 {
    margin-right: auto;
    color: var(--main-color);
    font-weight: 600;
}

.main_menu__grid_links a {
    margin: 0 1rem;
    color: var(--second-color);
    text-decoration: none;
}

.about_me {
    width: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.about_me__title {
    width: 100%;
    text-align: center;
    color: var(--second-color);
}

.about_me__title h2 {
    font-weight: 200;
}

.about_me__title h3 {
    font-size: 1.8rem;
    font-weight: 100;
}

.about_me__text {
    width: 80%;
    color: var(--second-color);
}